## Customer Dataset Cleaning

In [1]:
# Step 1: Import libraries
import pandas as pd
import numpy as np

In [ ]:
# Optional: for pretty display in Jupyter
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 1000)
# Step 2: Load dataset
# Replace 'customer_dataset.csv' with your actual file name or path
file_path = "C:/Users/user/OneDrive/Desktop/Onedrive_YuyanDipsy/OneDrive/UM Y4S1/WIA3002 FYP 1 & 2/FYP2/Data/Soapan Santun/2021 - 2025 Customer.csv"

# Read dataset
df = pd.read_csv(file_path)

# Show first few rows
df.head()

,CustomerID,Date of Birth,Gender,Income Level,City,State,Country
0,CUST0001,NaN,NaN,NaN,Sungai Besi,Kuala Lumpur,Malaysia
1,CUST0001,NaN,NaN,NaN,NaN,NaN,NaN
2,CUST0002,NaN,NaN,NaN,Mutiara Damansara,Selangor,Malaysia
3,CUST0002,NaN,NaN,NaN,NaN,NaN,NaN
4,CUST0003,NaN,NaN,NaN,Shah Alam,Selangor,Malaysia

In [ ]:
# Step 3: Basic exploration
df.info()      # column types and null counts
df.describe()  # summary stats for numerical columns
df.isnull().sum()  # count missing values per column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5775 entries, 0 to 5774
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     5775 non-null   object
 1   Date of Birth  0 non-null      float64
 2   Gender         0 non-null      float64
 3   Income Level   0 non-null      float64
 4   City           3187 non-null   object
 5   State          3069 non-null   object
 6   Country        3192 non-null   object
dtypes: float64(3), object(4)
memory usage: 315.9+ KB

CustomerID          0
Date of Birth    5775
Gender           5775
Income Level     5775
City             2588
State            2706
Country          2583
dtype: int64